extends layout

block content
  div.jumbotron
    h1 Build Your Doc
    p.class.
      Build & Host doc of your .Net project
    form(method="get", class="form-search", action="/search")
      input(type="text", name="q", placeholder="Search Docs", class="site-search")
  if msg
    if success
      div(class="alert alert-success", role="alert") #{msg}
    else
      div(class="alert alert-info", role="alert") #{msg}
  h2 Doc Examples
  br
  div.row
    each doc, name in docs
      div.col-md-4
        a(class='doc', href=doc) #{name}